HstsHeaderMiddleware

The meat of this project: `HstsHeaderMiddleware`.  This handles the general HTTP application's rules of [section 6.1 of RFC 6797](https://tools.ietf.org/html/rfc6797#section-6.1).